<div class="container">
  <header>
    <video class="video-container">
      <source src="shuttervideo2.mp4" type="video/mp4" />
    </video>
    <div class="top-bar">
      <nav>
        <h1>Nelly Wangari Kamenya</h1>
        <ul>
          <a href="https://github.com/WangariNelly?tab=repositories">Projects</a>
          <!-- <a href="http://localhost:4200/resume.pdf" target="_blank">Resume</a> -->
          <a href="/resume.pdf" target="_blank">Resume</a>
        </ul>
      </nav>
    </div>
    <!-- <div class="photo">
      <img src="Black Futuristic Software Engineer Business Card (7).png" alt="img" />
    </div> -->
    <h2>Fullstack Developer</h2>
    <p class="typed">
      I am a full-stack developer who is passionate about turning ideas into
      awesome dynamic and interactive websites.
      Strong understanding of the
      entire development process, from design to implementation.My goal is to deliver exceptional
      results by combining technical expertise with a strong problem-solving
      mindset and a commitment to excellence.
      From sleek designs to powerful backends,I've got you covered.
      <br>Let's build something amazing together!
    </p> 
    <div class="links">
      <a
        href="https://www.linkedin.com/in/nelly-wangari-kamenya/"
        target="_blank"
        ><img src="icons8-linkedin-32.png"
      /></a>
      <a href="mailto:nellywangarikamenya@gmail.com" target="_blank"
        ><img src="icons8-gmail-32.png"
      /></a>
    </div>
  </header>
  <footer>&copy; 2024 Nelly Wangari Kamenya. All rights reserved.</footer>
</div>